/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* colors */
:root {
  --primary: #ff42a5;
  --secondary: #c85ad2;
  --ternary: #534c64;
  --dark: #3c354f;
  --peace: #4ec5f7;
  --pure: #fefefe;
  --light: #f0f0f0;
  --heaven: #ffffff;
  --footer: #0b0223;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* media queries start */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}
/* media queries end */

/* Utility Classes */
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-60 {
  gap: 60px;
}
.gap-24 {
  gap: 24px;
}
.gap-13 {
  gap: 13px;
}

.btn {
  padding: 20px 40px;
  border-radius: 48px;
  line-height: 0.8;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--heaven);
}
.btn-primary:hover {
  background-color: var(--heaven);
  color: var(--primary);
  border: 1px solid var(--primary);
}
.btn-secondary {
  background-color: var(--secondary);
  color: var(--heaven);
}
.btn-secondary:hover {
  background-color: var(--heaven);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}
.btn-ternary {
  background-color: var(--heaven);
  color: var(--footer);
  padding: 10px;
}
.btn-ternary:hover {
  color: var(--primary);
  border: 1px solid var(--primary);
}

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.section-heading {
  position: relative;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.75rem;
}
.violet-heading {
  color: var(--secondary);
}
.content-p {
  color: var(--ternary);
  font-size: 18px;
  line-height: 25px;
}
section {
  padding: 4rem 0;
}

/* Nav Section Start */
nav {
  height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
nav .logo h3,
footer .logo h3 {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-left: 20px;
}
nav .logo h3 span,
footer .logo h3 span {
  color: var(--primary);
}
nav .menu {
  font-size: 18px;
  font-weight: 500;
}
nav .menu ul {
  list-style: none;
  gap: 2rem;
}
nav .menu ul a {
  text-decoration: none;
  color: var(--dark);
}

nav .menu ul a:hover {
  color: var(--primary);
}

.menu ul .follow-us {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 15px 20px;
}
.menu ul .follow-us i {
  width: 20px;
}
/* Nav Section End */

/* Banner Section Starts */
section.banner {
  background-image: url("../images/Group14.png");
  background-size: 50%;
  background-repeat: no-repeat;
}
section.banner .banner-content {
  width: 50%;
  background-size: cover;
}
section.banner .banner-content h3 {
  color: var(--footer);
  font-size: 3rem;
  font-weight: 600;
}
section.banner .banner-content h1 {
  font-size: 5rem;
  font-weight: 800;
  color: var(--secondary);
}
section.banner .banner-content p {
  margin: 1rem 0;
}
section.banner .banner-content button {
  margin-top: 1.3rem;
  margin-right: 1rem;
}
section.banner .banner-img img {
  height: 450px;
}
/* Banner Section Starts */

/* Section Online-Games Starts */
section.online-games .heading-wrapper {
  margin-bottom: 3rem;
}
section.online-games .card-wrapper img {
  width: 100%;
  margin-bottom: 24px;
}

.card-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.card-img img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.card-img:hover img {
  transform: scale(1.1);
  border: 1px solid var(--primary);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  border: 2px solid var(--primary);
}

.card-img:hover .overlay {
  display: flex;
  opacity: 1;
  overflow: hidden;
}

.overlay i {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.overlay span {
  font-size: 18px;
  color: var(--primary);
}

/* Section Online-Games End */

/* Section Play-Game Starts */
section.play-game .play-game-wrapper .play-game-img {
  position: relative;
  margin-bottom: 4rem;
}
section.play-game .play-game-wrapper .play-game-img img:first-child {
  width: 90%;
}
section.play-game .play-game-wrapper .play-game-img img:last-child {
  width: 50%;
  position: absolute;
  bottom: -100px;
  right: -40px;
}

section.play-game .play-game-wrapper .play-game-content {
  margin-left: 150px;
}
/* Section Play-Game End */

/* Section Games Catergory Starts */
section.games-catergory img {
  width: 100px;
}

/* Footer Starts */
footer {
  background-color: var(--footer);
  color: var(--heaven);
  padding: 100px;
}
footer .logo,
footer .links,
footer .icons {
  margin-bottom: 50px;
}
footer .links a {
  text-decoration: none;
  color: var(--heaven);
  margin-bottom: 30px;
}
footer .icons i {
  font-size: 35px;
}
footer .terms-conditions a {
  text-decoration: none;
  color: var(--ternary);
  padding-bottom: 1.5rem;
}
footer .copy-right p {
  color: var(--ternary);
}
/* Footer Section End */

@media screen and (max-width: 576px) {
  section {
    padding: 1.5rem 0;
    text-align: center;
  }
  .section-heading {
    font-size: 1.7rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
    margin-bottom: 1.2rem;
  }
  .content-p {
    line-height: 22px;
  }
  nav {
    height: 300px;
  }
  nav .container {
    flex-direction: column;
    align-items: center;
  }
  nav .container .menu ul {
    flex-direction: column;
    gap: 25px;
    margin-top: 35px;
  }

  /* Banner Section Starts */
  section.banner .container {
    flex-direction: column;
    text-align: center;
    order: reverse;
  }
  section.banner {
    background-size: 100%;
  }
  section.banner .banner-content {
    width: 100%;
  }
  section.banner .banner-content h3 {
    font-size: 2.5rem;
  }
  section.banner .banner-content h1 {
    font-size: 3.5rem;
  }
  section.banner .banner-content .banner-btn {
    display: inline-block;
    margin-top: -15px;
  }
  section.banner .container .banner-img {
    margin-top: 2.5rem;
  }
  section.banner .container .banner-img img {
    width: 100%;
  }
  /* Banner Section Ends */

  /* Online Games Section Starts */
  .card-wrapper {
    flex-direction: column;
  }
  /* Online Games Section Ends */
  section.play-game .play-game-wrapper {
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  section.play-game .play-game-wrapper .play-game-content {
    margin-bottom: 4rem;
    margin-left: 0;
  }
  section.play-game .play-game-wrapper .play-game-img {
    width: 75%;
  }

  button.btn.btn-ternary.flex.items-center.gap-13 {
    gap: 9px;
  }
  .games-category {
    margin-top: 3rem;
  }
  .games-category img {
    width: 40px;
  }
  .games-category span {
    font-size: 1rem;
    font-weight: 600;
  }
  footer {
    padding: 4.5rem 0;
  }
  .container.flex.justify-center.flex-column.align-center {
    gap: 3.7rem;
  }
  footer .logo,
  footer .links,
  footer .icons {
    margin-bottom: 0;
  }
  .links.flex.justify-center.gap-60,
  footer .icons,
  footer .terms-conditions {
    flex-wrap: wrap;
    gap: 40px;
  }
  footer .links a {
    margin-bottom: 0px;
  }
  footer .terms-conditions a {
    padding-bottom: 0;
  }
  section.play-game .play-game-wrapper .play-game-content h2.section-heading {
    font-size: 1.9rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  section {
    padding: 3rem 0;
  }
  .btn {
    padding: 18px 25px;
    border-radius: 48px;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .banner-btn.flex {
    width: 285px;
  }
  section.banner .banner-img img {
    width: 100%;
  }
  nav .menu {
    font-size: 17px;
  }
  nav .menu ul {
    gap: 1.2rem;
  }
  nav .logo img {
    width: 4.5rem;
  }
  nav .logo h3 {
    font-size: 2.2rem;
    margin-left: 10px;
  }
  section.banner .banner-content h3 {
    font-size: 2rem;
  }
  section.banner .banner-content h1 {
    font-size: 4rem;
  }

  section.banner .banner-img img {
    height: auto;
    width: 100%;
  }
  section.play-game .play-game-wrapper .play-game-content h2.section-heading {
    font-size: 1.9rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  section.banner .banner-img img {
    width: 100%;
  }
  .banner-btn.flex {
    width: 345px;
  }
  section.banner .banner-img img {
    height: auto;
  }
}
